CompileFlags:
  Add: 
    - "-I/opt/homebrew/include"
    - "-I/opt/homebrew/Cellar/glib/2.86.0/include/glib-2.0"
    - "-I/opt/homebrew/Cellar/glib/2.86.0/lib/glib-2.0/include"
    - "-I/opt/homebrew/opt/gettext/include"
    - "-I/opt/homebrew/Cellar/pcre2/10.46/include"
    - "-I/opt/homebrew/Cellar/mysql/9.2.0_3/include/mysql"
    - "-std=c11"
    - "-D_GNU_SOURCE"
  CompilationDatabase: build/